/*

    PORTFOLIO WEBSITE PROJECT
BY MARK MWAURA 
license MIT
25/11/2021


*/
*{
    padding: 0;
    margin: 0;
    
}
/* This is the styling of the navigation section  and the anchor tags*/
nav{
    background-color:   rgba(0, 0, 0,0.8);
    display: flex;
    justify-content: flex-end;

}
nav a{
    font-family: 'Playfair Display', serif;
font-family: 'Zen Kurenaido', sans-serif;
    color:wheat;
    font-size: 17px;
    text-decoration: none;
    padding: 20px;
}
nav a:hover{
    background-color: black;
    color: white;
}
nav button{
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 2px;
    margin-right: 1px;
    color: wheat;
}
nav button:hover{
    background-color: black;
    color: white;
}
.logo{

    position: absolute;
    padding: 20px;
    justify-content: flex-start;
    width: 30%;
}
.logo a{
    color: wheat;
    font-size: 23px;
    text-decoration: none;
}
.logo a:hover{
    color: white;
}
/* This is the mother div styling where size and background color are added*/
.mother{
    background-color: rgba(0, 0, 0,0.9)    ;
    width: 100%;
    height: 1500px;
    color: white;
}
/* This is the styling of the main section  and text and image divs*/
main{
    display: flex;
    justify-content: space-between;
}
.text{
    margin-top:30px;
    width: 50%;
}
.text h1,p,button{
    margin-left: 70px;
}
.text p{
    font-size: 26px;
}
.text button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 17px;
    cursor: pointer;
}
.text button a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.text button:hover{
    color: black;
    background-color: red;
}
.text strong{
    color: red;
}
.image{
    width: 50%;
    margin-top: 100px;

}
.image img{
    margin-left: 110px;
}
.hide{
display: none;
}
.text h1{
    margin-top: 30px;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 20px;
}
/* 
This is the styling for the table and caption
*/
table,td,th{
    border: 2px solid black;
    background-color: white;
    border-collapse: collapse;
    padding: 20px;
    color: black;
    margin-top: 40px;
    margin-left: 30px;
}
caption{
    color: white;
    font-size: 30px;
}
/* this is  the styling for the footer */
.footer{
    width: 100%;
        height: 100px;
    display: flex;
    margin-top: 40px;
}
.footer p{
    color: white;
    font-size: 30px;
}
.footer i{
    padding: 10px;
    color: white;
    font-size: 23px;
}
.footer i:hover{
    color: red;
}
/*this is the responsive section where the website is made to be reponsive on mobile view*/
@media (max-width:500px){
    nav {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .logo{
        display: none;
    }
    nav a{
        font-size: 20px;
        padding: 15px;
    }
    /* This is styling of the mother section   */
    .mother{
        position: relative;
        height: 1800px;
    }
    main{
        flex-direction: column;
        justify-content:center;
        column-gap: 0px;
    }
    .text{
        font-size: 20px;
        width: 94%;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    .text h1,p{
        margin-top: 0;
        margin-left: 5px;
    }
    .image{
        width: 100%;
    }
    .image img{
        margin-left: 0;
        width: 90%;
        height: 60%;
    }
    .footer{
        display: flex;
        height: 50px;
    }
    .footer i{
        font-size: 20px;
        margin-top: 20px;
    }
    .footer p{
        font-size: 20px;
    }
    .table table{
        width: 50%;
        height: 100%;
        margin-left: 0px;
        padding: 5px;
    }
    .table{
        width: 100%;
        height: 400px;
        overflow-x: auto;
    }
}
